{
  "api": {
    "port": 8080,
    "path": "api"
  },
  "db": {
    "name": "credibly",
    "host": "localhost",
    "port": 3306,
    "username": "root",
    "password": "password"
  },
  "jwt": {
    "secret": "is4302:credibly"
  }
}